/build
android-sdk-connector.iml
.idea/libraries/com_google_code_findbugs_jsr305_2_0_1_jar.xml
.idea/libraries/com_android_support_transition_26_1_0.xml
.idea/libraries/com_android_support_test_runner_1_0_1.xml
.idea/libraries/com_android_support_test_rules_1_0_1.xml
.idea/libraries/com_android_support_test_espresso_espresso_idling_resource_3_0_1.xml
.idea/libraries/com_android_support_test_espresso_espresso_core_3_0_1.xml
.idea/libraries/org_hamcrest_hamcrest_library_1_3_jar.xml
.idea/libraries/com_android_support_support_annotations_26_1_0_jar.xml
.idea/libraries/com_android_support_recyclerview_v7_26_1_0.xml
.idea/libraries/com_android_support_design_26_1_0.xml
.idea/libraries/com_android_support_appcompat_v7_26_1_0.xml
.idea/libraries/com_android_support_animated_vector_drawable_26_1_0.xml
.idea/libraries/android_arch_lifecycle_runtime_1_0_0.xml
.idea/libraries/android_arch_lifecycle_common_1_0_0_jar.xml
.idea/libraries/android_arch_core_common_1_0_0_jar.xml
.idea/libraries/org_hamcrest_hamcrest_integration_1_3_jar.xml
.idea/libraries/org_hamcrest_hamcrest_core_1_3_jar.xml
.idea/libraries/net_sf_kxml_kxml2_2_3_0_jar.xml
.idea/libraries/junit_junit_4_12_jar.xml
.idea/libraries/javax_inject_javax_inject_1_jar.xml
.idea/libraries/javax_annotation_jsr250_api_1_0_jar.xml
.idea/libraries/com_squareup_javawriter_2_1_1_jar.xml
.idea/libraries/com_googlecode_libphonenumber_libphonenumber_8_0_0_jar.xml
.idea/libraries/com_android_support_support_vector_drawable_26_1_0.xml
.idea/libraries/com_android_support_support_v4_26_1_0.xml
.idea/libraries/com_android_support_support_media_compat_26_1_0.xml
.idea/libraries/com_android_support_support_fragment_26_1_0.xml
.idea/libraries/com_android_support_support_core_utils_26_1_0.xml
.idea/libraries/com_android_support_support_core_ui_26_1_0.xml
.idea/libraries/com_android_support_support_compat_26_1_0.xml
local.properties
gradlew.bat
gradlew
.idea/vcs.xml
.idea/runConfigurations.xml
.idea/modules.xml
.idea/misc.xml
.idea/gradle.xml
.idea/.name
.idea/workspace.xml
.idea/libraries/com_googlecode_libphonenumber_libphonenumber_8_8_5_jar.xml
