<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.noticeboard.nbsdkconnector" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <provider
            android:name=".nbAppInstaller.NBFileProvider"
            android:authorities="tech.noticeboard.nbsdkconnector.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity
            android:name=".NbSdkConnectorActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <receiver android:name=".PackageInstallReceiver" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_CHANGED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="package" android:path="tech.noticeboard.nbsdkconnector"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>
